![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# Code for Module 3, Data Science Course

Code is broken down by unit.

In [ ]:
print(2+2)

## Unit 2

In [ ]:
from pandas import Series

In [ ]:
coins = Series([1,5,10,25],index=['penny','nickel','dime','quarter'])
coins

In [ ]:
coins.min(), coins.max(), coins.sum()

In [ ]:
mylist = ['penny','dime','loonie']
obj2 = Series(coins,index=mylist)
obj2

In [ ]:
from pandas import DataFrame

In [ ]:
coin_df = DataFrame([1,5,10,25],index=['penny', 'nickel', 'dime', 'quarter'])
coin_df

In [ ]:
coin_df['weight']= [2.35, 3.95, 1.75, 4.4]
coin_df

In [ ]:
print('The weight of a penny is', coin_df.loc['penny']['weight'],'grams.')

## Unit 3

In [ ]:

from pandas import DataFrame
data = {'name': ['penny', 'nickel', 'dime', 'quarter'],
        'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
        'design': ['Maple Leaves', 'Beaver', 'Schooner', 'Caribou'] }
dff=DataFrame( data )

In [ ]:
data = {'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
        'design': ['Maple Leaves', 'Beaver', 'Schooner', 'Caribou'] }
coin_df=DataFrame( data ,index =['penny', 'nickel', 'dime', 'quarter'] )
coin_df

In [ ]:
coin_df['design']=coin_df['design'].map(str.lower)
coin_df

In [ ]:
dff = DataFrame(data,index=['a','b','c','d'])

In [ ]:
dff.drop(index='a',inplace=True)

In [ ]:
dff['weight'].map(lambda x: x+x)

In [ ]:
DataFrame([[1,1,1],[2,4,8],[3,9,27],[4,16,64]])

In [ ]:
DataFrame([[1,1,1],[2,4,8],[3,9,27],[4,16,64]],
             columns =['base','square','cube'],
             index=['one','two','three','four'])

In [ ]:
%%writefile Colours.csv
Colour,Emotion,Preference,Length
Yellow,Joy,2,3
Blue,Sadness,3,7
Red,Anger,6,5
Purple,Fear,5,4
Green,Disgust,4,7
Black,Grief,7,5
White,Ecstasy,1,7

In [ ]:
!cat Colours.csv

In [ ]:
from pandas import read_csv
colours_df = read_csv('Colours.csv')
colours_df

In [ ]:
from pandas import read_csv
colours_df = read_csv('https://tinyurl.com/CallyColours')
colours_df

In [ ]:
read_csv('Colours.csv',nrows=5)

In [ ]:
from pandas import read_table
read_table('Colours.csv',sep=',')

In [ ]:
url = "https://tinyurl.com/y916axtz/pets.csv"
pets = read_csv(url)
pets

In [ ]:
from pandas import DataFrame
import requests
import json

In [ ]:
s1 = requests.get('https://www150.statcan.gc.ca/n1/dai-quo/ssi/homepage/ind-econ.json')
s1.json()

In [ ]:
DataFrame(s1.json()['results']['geo'])

In [ ]:
from pandas import read_html
url = 'https://en.wikipedia.org/wiki/Baseball_statistics'
df_list = read_html(url)
df_list[3]

In [ ]:
table_list[3]

## Unit 4

In [ ]:
pets.head()

In [ ]:
pets.columns

In [ ]:
pets['Age (years)']

In [ ]:
pets.loc[3]

In [ ]:
pets.loc[3,'Name']

In [ ]:
pets.loc[3,'Name'] = 'Queen of Sheba'

In [ ]:
pets['Age (years)'] = 12*pets['Age (years)']
pets.head()

In [ ]:
pets.rename(columns = {'Age (years)':'Age (months)'},inplace = True)
pets.head()

In [ ]:
print( 
    pets['Age (months)'].min(),
    pets['Age (months)'].max(),
    pets['Age (months)'].mean())

In [ ]:
pets.plot(kind='bar',x='Name',y='Age (months)');

In [ ]:
import plotly.express as px
fig = px.bar(pets, x='Name', y='Age (months)')
fig.show()

## Unit 5

In [ ]:
from pandas import DataFrame

In [ ]:
data = {'name': ['penny', 'nickel', 'dime', 'quarter'],
        'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
         'image': ['Leaf','Beaver','Blue Nose','Moose']}
coin_df = DataFrame(data)

In [ ]:
coin_df[coin_df['value']>5]

In [ ]:
coin_df.reindex([2,1,0,3])

In [ ]:
coin_df.loc[5]= ['toonie',200,112.64,'Polar Bear']
coin_df

In [ ]:
coin_df['weight'] = coin_df['weight']/28.35
coin_df

In [ ]:
coin_df['image'].map(str.lower)

In [ ]:
coin_df['weight'].map(lambda x: x*28.35)

In [ ]:
coin_df['image'].replace('Beaver','Castor')

In [ ]:
pets['Age (years)'].max()

In [ ]:
pets['Weight (lbs)'].idxmax()

In [ ]:
pets.loc[20]

## Unit 6

## Unit 7

In [ ]:
from pandas import DataFrame
data = {'name': ['penny', 'nickel', 'dime', 'quarter'],
        'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
         'image': ['Leaf','Beaver','Blue Nose','Moose']}
coin_df = DataFrame(data)

In [ ]:
coin_df

In [ ]:
mint_df = DataFrame({'name': ['penny', 'nickel', 'dime', 'quarter'],
        'minted (millions)': [199, 203, 292, 213]})
mint_df

In [ ]:
mint_df = DataFrame({'name': ['quarter', 'dime', 'nickel', 'penny'],
        'minted (millions)': [213, 292, 203, 199]})
mint_df

In [ ]:
mint_df

In [ ]:
from pandas import merge
merge(coin_df,mint_df)

In [ ]:
merge(coin_df,mint_df, how='outer')

In [ ]:
merge(coin_df,mint_df,on='name')

In [ ]:
merge(coin_df,mint_df,on='weight',how='outer')

In [ ]:
data_fr = {'name': ['sou', 'cinq sous', 'dix sous', 'vingt-cinq sous'],
        'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
         'image': ['Feuille','Castor','Voilier','Orignal']}
coin_fr = DataFrame(data_fr)

In [ ]:
from pandas import concat
concat([coin_df,coin_fr])

In [ ]:
result = concat([coin_df,coin_fr],keys=['English','French'])
result

In [ ]:
result.sort_index(inplace=True)

In [ ]:
result

In [ ]:
result.loc['French']

In [ ]:
result.loc[('English',0)]

In [ ]:
pets.stack()

In [ ]:
new_pets = pets.set_index(['Species','Name'])
new_pets

In [ ]:
concat([pets[pets['Species']=='cat'],pets[pets['Species']=='dog']])

In [ ]:
pets.sort_values('Species')

In [ ]:
coin_df.T

In [ ]:
from pandas import pivot

In [ ]:
data = {'day':['Monday','Monday','Monday',
               'Tuesday','Tuesday','Tuesday','Tuesday',
               'Wednesday','Wednesday','Wednesday'],
         'meal':['breakfast','lunch','dinner',
                 'breakfast','lunch','dinner','snack',
                 'breakfast','lunch','dinner'],
         'calories':[400,500,1000,
                     400,600,1000,200,
                     300,700,1200]}
cal_count=DataFrame(data)

In [ ]:
cal_count

In [ ]:
cal_count.pivot('day','meal','calories')

In [ ]:
pets.pivot('Name','Species')

## Unit 8

In [ ]:
s1 = requests.get('https://www12.statcan.gc.ca/rest/census-recensement/CPR2016.json')
s1.text

In [ ]:
s2 = s1.text[2:]
s3 = json.loads(s2)
s3

In [ ]:
s3

In [ ]:
df = pd.DataFrame(s3['DATA'],columns=s3['COLUMNS'])
df

In [ ]:
df[0:20]['TEXT_NAME_NOM']

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.plot(kind='bar',x='num_children',y='num_pets',color='red')

In [ ]:
df1 = DataFrame(df,
        index =[9,10,11,13,14,15,16,17,18,19,20,21,22,24,25,26,27,29,30,31,32],
        columns=['TEXT_NAME_NOM','T_DATA_DONNEE','F_DATA_DONNEE'])
df1.plot(kind='bar',x='TEXT_NAME_NOM',y='T_DATA_DONNEE');

In [ ]:
df1.plot(kind='bar',x='TEXT_NAME_NOM',y='T_DATA_DONNEE');

In [ ]:
import plotly.express as px
fig = px.bar(df1, x='TEXT_NAME_NOM', y='T_DATA_DONNEE')
fig.show()

In [ ]:
df[100:200]['PROV_TERR_NAME_NOM']

In [ ]:
df1 = DataFrame(df,
        index =[9,10,11,13,14,15,16,17,18,19,20,21,22,24,25,26,27,29,30,31,32],
        columns=['TEXT_NAME_NOM','T_DATA_DONNEE','M_DATA_DONNEE','F_DATA_DONNEE'])
fig = px.bar(df1, x='TEXT_NAME_NOM', y='M_DATA_DONNEE')
fig.show()

In [ ]:
fig = px.bar(df1, x='TEXT_NAME_NOM', y='F_DATA_DONNEE')
fig.show()

In [ ]:
animals=['giraffes', 'orangutans', 'monkeys']

fig = go.Figure(data=[
    go.Bar(name='SF Zoo', x=animals, y=[20, 14, 23]),
    go.Bar(name='LA Zoo', x=animals, y=[12, 18, 29])
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.show()

In [ ]:
url = "https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_233e84cd313945c992b4b585f7b9125d/callysto-open-data/pets.csv"

pets = pd.read_csv(url)
pets

In [ ]:
pets['Species']=='cat'

In [ ]:
coins

In [ ]:
frame.loc['image']

In [ ]:
frame

In [ ]:
frame.loc[1,'value']

In [ ]:
frame[frame['value']>5]

In [ ]:
frame['value']>5

In [ ]:
frame

In [ ]:
frame2=frame.reindex([2,1,0,3,5])
frame2.loc[5] = ['toonie',200,112.64,'Polar Bear']
frame2

In [ ]:
frame['weight'] = frame['weight']/28.35
frame

In [ ]:
import pandas as pd

In [ ]:
url = "https://tinyurl.com/y9l6axtz/pets.csv"
pets = pd.read_csv(url)
pets

In [ ]:
pets.head()

In [ ]:
pets.columns

In [ ]:
pets['Age (years)']

In [ ]:
pets.loc[3]

In [ ]:
pets.loc[3,'Name']

In [ ]:
pets.loc[3,'Name'] = 'Queen of Sheba'

In [ ]:
pets['Age (years)'] = 12*pets['Age (years)']
pets.head()

In [ ]:
pets = pets.rename(columns = {'Age (years)':'Age (months)'})

In [ ]:
pets.plot(kind='bar',x='Name',y='Age (years)');

In [ ]:
import plotly.express as px
fig = px.bar(pets, x='Name', y='Age (years)')
fig.show()

In [ ]:
print(
    pets['Age (years)'].min(),
    pets['Age (years)'].max(),
    pets['Age (years)'].mean())

In [ ]:
pets.head()

In [ ]:
pets.plot(kind='scatter',x='Age (months)',y='Time to Adoption (weeks)');

In [ ]:
s3 = json.loads(s1.text)

In [ ]:
s3

In [ ]:
s3['results']

In [ ]:
len(s3['results']['indicators'])

In [ ]:
df = pd.DataFrame(s3['results']['indicators'])
df

In [ ]:
df['growth_rate'].head

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame(df1.loc['results'])

In [ ]:
df2

In [ ]:
s1 = requests.get('https://www150.statcan.gc.ca/n1/dai-quo/ssi/homepage/ind-econ.json')
s1.json()

In [ ]:
pd.DataFrame(s1.json()['results']['geo'])

In [ ]:
data = {'name': ['penny', 'nickel', 'dime', 'quarter'],
        'value': [1, 5, 10, 25],
        'weight': [2.35, 3.95, 1.75, 4.4],
         'image': ['Leaf','Beaver','Blue Nose','Moose']}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame['weight'].map(lambda x: x/28.35)

In [ ]:
frame

In [ ]:
frame['image'].map(str.lower)

In [ ]:
pets['Species'].replace('cat','feline')

In [ ]:
pets['Legs'].replace(4,4.1)

In [ ]:
from googletrans import Translator

In [ ]:
!pip install googletrans

In [ ]:
translator = Translator()

In [ ]:
translator.translate('bonjour').text

In [ ]:
translator.translate('안녕하세요.').text

In [ ]:
translator.translate('mains',src='fr',dest='en').text

In [ ]:
pets['Name'].map(lambda x: translator.translate(x,dest='fr').text)

In [ ]:
pets

In [ ]:
translator.translate(pets['Species'][1],dest='fr').text

In [ ]:
!pip install pyspellchecker

In [ ]:
from spellchecker import SpellChecker

In [ ]:
from spellchecker import SpellChecker
spell = SpellChecker()

In [ ]:
spell.correction("heey")

In [ ]:
aa

In [ ]:
pets['Name'].map(lambda x: spell.correction(x))

In [ ]:
!pip install gTTS
from gtts import gTTS
tts = gTTS( 'Hello, world' )
tts.save('hello.mp3')

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)